.flightApp {
  text-align: center;    
}

.flightApp-logo {
  position: absolute;
  color: #626C80;
  animation: App-takeoff-land infinite 10s linear;  
  -webkit-animation: App-takeoff-land infinite 10s linear;
  
}

.flightApp-header {
  height: 25vh;
  text-align: center;
  background: #DBDBDB;
  display: flex;
  justify-content: space-around;
  color: #2B4F81;
  font-size: 2em;  
}

@keyframes App-takeoff-land {
  0% {    
    left: 0%;
    top: 15%;
  }
  10% {
    left: 10%;
    top: 10%;
    transform: rotate(-10deg)  ;
    -webkit-transform: rotate(-10deg)  ;
    -moz-transform: rotate(-10deg)  ;
    -ms-transform: rotate(-10deg)  ;
    -o-transform: rotate(-10deg)  ;
  }
  20% {
    left: 20%;
    top: 5%;
    transform: rotate(-15deg)  ;
    -webkit-transform: rotate(-15deg)  ;
    -moz-transform: rotate(-15deg)  ;
    -ms-transform: rotate(-15deg)  ;
    -o-transform: rotate(-15deg)  ;
  }
 
  30% {
    left: 30%;
    top: 1%;
    transform: rotate(-5deg)  ;
    -webkit-transform: rotate(-5deg)  ;
    -moz-transform: rotate(-5deg)  ;
    -ms-transform: rotate(-5deg)  ;
    -o-transform: rotate(-5deg)  ;
  }
  40% {
    left: 40%;
    top: 1%;
    transform: rotate(0deg)  ;
    -webkit-transform: rotate(0deg)  ;
    -moz-transform: rotate(0deg)  ;
    -ms-transform: rotate(0deg)  ;
    -o-transform: rotate(0deg)  ;
  }
  50% {
    left: 50%;
    top: 1%;
    transform: rotate(0deg)  ;
    -webkit-transform: rotate(0deg)  ;
    -moz-transform: rotate(0deg)  ;
    -ms-transform: rotate(0deg)  ;
    -o-transform: rotate(0deg)  ;
  }
  60% {
    left: 60%;
    top: 1%;
    transform: rotate(5deg)  ;
    -webkit-transform: rotate(5deg)  ;
    -moz-transform: rotate(5deg)  ;
    -ms-transform: rotate(5deg)  ;
    -o-transform: rotate(5deg)  ;
  }
  70% {
    left: 70%;
    top: 3%;
    transform: rotate(10deg)  ;
    -webkit-transform: rotate(10deg)  ;
    -moz-transform: rotate(10deg)  ;
    -ms-transform: rotate(10deg)  ;
    -o-transform: rotate(10deg)  ;
  }
  80% {
    left: 80%;
    top: 7%;
    transform: rotate(15deg)  ;
    -webkit-transform: rotate(15deg)  ;
    -moz-transform: rotate(15deg)  ;
    -ms-transform: rotate(15deg)  ;
    -o-transform: rotate(15deg)  ;
  }
  90% {
    left: 90%;
    top: 10%;
    transform: rotate(15deg)  ;
    -webkit-transform: rotate(10deg)  ;
    -moz-transform: rotate(15deg)  ;
    -ms-transform: rotate(15deg)  ;
    -o-transform: rotate(15deg)  ;
  }
  100% {
    left: 100%;
    top: 15%;
    transform: rotate(10deg)  ;
    -webkit-transform: rotate(5deg)  ;
    -moz-transform: rotate(10deg)  ;
    -ms-transform: rotate(10deg)  ;
    -o-transform: rotate(10deg)  ;
  }  
}

@media screen and (max-width: 720px) {
  .flightApp-header {
    font-size: 1.5em;
    text-shadow: 1px 1px #000;
    height: 20vh;
  }

  @keyframes App-takeoff-land {
    0% {    
      left: 0%;
      top: 10%;
    }
    10% {
      left: 10%;
      top: 5%;
      transform: rotate(-10deg)  ;
      -webkit-transform: rotate(-10deg)  ;
      -moz-transform: rotate(-10deg)  ;
      -ms-transform: rotate(-10deg)  ;
      -o-transform: rotate(-10deg)  ;
    }
    20% {
      left: 20%;
      top: 1%;
      transform: rotate(-5deg)  ;
      -webkit-transform: rotate(-5deg)  ;
      -moz-transform: rotate(-5deg)  ;
      -ms-transform: rotate(-5deg)  ;
      -o-transform: rotate(-5deg)  ;
}
   
    30% {
      left: 30%;
      top: 1%;
      transform: rotate(0deg)  ;
      -webkit-transform: rotate(0deg)  ;
      -moz-transform: rotate(0deg)  ;
      -ms-transform: rotate(0deg)  ;
      -o-transform: rotate(0deg)  ;
}
    40% {
      left: 40%;
      top: 1%;
      transform: rotate(0deg)  ;
      -webkit-transform: rotate(0deg)  ;
      -moz-transform: rotate(0deg)  ;
      -ms-transform: rotate(0deg)  ;
      -o-transform: rotate(0deg)  ;
    }
    50% {
      left: 50%;
      top: 1%;
      transform: rotate(0deg)  ;
      -webkit-transform: rotate(0deg)  ;
      -moz-transform: rotate(0deg)  ;
      -ms-transform: rotate(0deg)  ;
      -o-transform: rotate(0deg)  ;
    }
    60% {
      left: 60%;
      top: 1%;
      transform: rotate(0deg)  ;
      -webkit-transform: rotate(0deg)  ;
      -moz-transform: rotate(0deg)  ;
      -ms-transform: rotate(0deg)  ;
      -o-transform: rotate(0deg)  ;
    }
    70% {
      left: 70%;
      top: 1%;
      transform: rotate(10deg)  ;
      -webkit-transform: rotate(10deg)  ;
      -moz-transform: rotate(10deg)  ;
      -ms-transform: rotate(10deg)  ;
      -o-transform: rotate(10deg)  ;
    }
    80% {
      left: 80%;
      top: 5%;
      transform: rotate(10deg)  ;
      -webkit-transform: rotate(10deg)  ;
      -moz-transform: rotate(10deg)  ;
      -ms-transform: rotate(10deg)  ;
      -o-transform: rotate(10deg)  ;
    }
    90% {
      left: 90%;
      top: 7%;
      transform: rotate(15deg)  ;
      -webkit-transform: rotate(10deg)  ;
      -moz-transform: rotate(15deg)  ;
      -ms-transform: rotate(15deg)  ;
      -o-transform: rotate(15deg)  ;
    }
    100% {
      left: 100%;
      top: 10%;
      transform: rotate(10deg)  ;
      -webkit-transform: rotate(5deg)  ;
      -moz-transform: rotate(10deg)  ;
      -ms-transform: rotate(10deg)  ;
      -o-transform: rotate(10deg)  ;
    }    
  }
}

@media screen and (max-width: 600px) {
  .flightApp-logo {
    display: none;
  }
  
.flightApp-header {
  font-size: 1em;
  text-shadow: 1px 1px #000;
  height: 15vh;
  }
}
